@import "../variables.scss";
@import "../mixins.scss";

.heroSection {
  width: auto;
  padding: 20px;
  text-align: center;
  background-image: url("../../assets/meta-grid-floor.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-bottom: 100px;
  .heroTextBox {
    color: white;

    h1 {
      font-size: 50px;

      span {
      }
    }

    p {
      font-size: 25px;
    }
  }
}
