.heroSection {
  background-color: rgb(88, 88, 252);
  width: auto;
  padding: 20px;
  text-align: center;

  .heroTextBox {
    color: white;
    h1 {
      color: white;
      font-size: 38px;
      font-weight: 600;
    }
    p {
      font-size: 20px;
    }
  }
}
