@import "../variables.scss";
@import "../mixins.scss";

$animationSpeed: 70s;

.compContainer {
  .headComp {
    width: 100%;
    h2 {
      font-weight: 200;
      font-size: 30px;
    }
  }

  .btnDiv {
    display: flex;
    justify-content: flex-end;

    .moreBtn {
      border: 1px solid white;
      padding: 5px 10px;
      color: white;
      text-align: center;
      font-family: inherit;
      font-size: 18px;
      cursor: pointer;
      @include neonBorderBox($blue);
      font-weight: 100;
      width: auto;
    }

    .moreBtn:hover {
      @include neonBorderBox($pink);
      color: white;
    }
  }
}

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: none;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide_track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: auto;
    .slide {
      .articleDiv {
        padding: 0px 10px 0px 10px;
        width: 300px;

        .articleTitle {
          margin: unset;
          font-size: 18px;
          font-weight: 200;
          text-align: justify;
          margin-bottom: 10px;
          color: $blue;
        }

        .articleImg {
          width: 100%;
          height: 200px;
        }
        .articleDesc {
          margin: unset;
          font-size: 15px;
          text-align: justify;
          color: grey;
        }
        .articleLink {
          text-decoration: none;
          color: rgb(63, 84, 202);
        }
        .articleSource {
          text-align: right;
          color: white;
          .sourceLink {
            text-decoration: none;
            color: rgb(234, 115, 250);
          }
        }
      }
    }
  }
}
