.pageContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  .semiContainer {
    width: 68%;
  }
}

@media only screen and (max-width: 768px) {
  .pageContainer {
    display: block;
    .semiContainer {
      width: 100%;
    }
  }
}
