@import "../variables.scss";
@import "../mixins.scss";

.compContainer {
  width: 65%;
  @include boxStyle();
  border-radius: 20px;
  padding: 10px 20px;

  h2 {
    font-size: 30px;
    font-weight: 200;
  }
  .newsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em 1em;

    .item-2 {
      grid-area: 1 / 1 / 11 / 3;
    }

    .articleDiv {
      width: auto;
      padding: 0px 10px 0px 10px;

      .articlesDate {
        font-size: 15px;
        font-weight: 200;
        color: $blue;
        text-align: end;
      }

      .articleTitle {
        font-size: 20px;
        color: $blue;
        font-weight: 200;
        margin: unset;
        text-align: justify;
      }

      .articleImg {
        width: 100%;
        height: 250px;
      }
      .articleDesc {
        font-size: 15px;
        font-weight: 200;
        text-align: justify;
        margin: unset;
        margin-bottom: 10px;
      }
      .articleLink {
        text-decoration: none;
        color: $pink;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .compContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .compContainer {
    .newsContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1em 1em;

      .item-2 {
        grid-area: 1 / 1 / 11 / 3;
      }
    }
  }
}
