.newsHero {
  height: 10vh;
  width: 100%;
  padding: 20px;
  h1 {
    text-align: center;
  }
}

.pageContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

// responsive
@media only screen and (max-width: 768px) {
  .pageContainer {
    display: block;
  }
}
