@import "../variables.scss";
@import "../mixins.scss";

.top10Container {
  width: 100%;
  h3 {
    font-weight: 200;
    font-size: 30px;
    margin: unset;
    margin-bottom: 10px;
  }
  .dataBox {
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    .dataRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;
      font-size: 15px;
      margin-bottom: 10px;
      .imgTick {
        display: flex;
        align-items: center;
        .img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        .tick {
          font-weight: 600;
        }
      }
      .price {
        position: absolute;
        right: 30%;
      }
      .changeGreen {
        color: rgb(50, 240, 129);
      }
      .changeRed {
        color: rgb(245, 86, 86);
      }
    }
  }

  .btnDiv {
    text-align: center;
    .moreBtn {
      font-family: inherit;
      padding: 12px 20px;
      font-weight: 200;
      color: inherit;
      margin-bottom: 20px;
      // border-radius: 5px;
      cursor: pointer;
      width: auto;
      @include neonBorderBox($blue);
      font-size: 20px;
    }

    .moreBtn:hover {
      @include neonBorderBox($pink);
    }
  }
}
