.TopBarAds {
  color: white;
  background-color: rgb(94, 148, 248);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0;
    font-size: 25px;
    padding: 20px;
  }
}
