@import "mixins.scss";
@import "variables.scss";

body {
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.3px;
  background-color: #292929;
  background-clip: border-box;
  color: $white-text;
}

body.dark-mode {
  color: $white-text;
}
