@mixin neonBorderBox($color) {
  background: none;
  border: 2px solid $color;
  box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -webkit-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -moz-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  border-radius: 10px;
}

@mixin neonBoxHover($color) {
  border-color: $color;
  box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -webkit-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -moz-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  border-radius: 20px;
}

@mixin boxStyle() {
  border-radius: 40px;
  background: #292929;
  box-shadow: 12px 12px 47px #1f1f1f, -12px -12px 47px #333333;
}

@mixin buttonStyle() {
  font-weight: 400;
  border-radius: 10px;
  background: linear-gradient(225deg, #2c2c2c, #252525);
  box-shadow: -6px 6px 11px #1f1f1f, 6px -6px 11px #333333;
}

@mixin buttonStyleHover() {
  font-weight: 400;
  border-radius: 10px;
  background: linear-gradient(225deg, #252525, #2c2c2c);
  box-shadow: -6px 6px 11px #1f1f1f, 6px -6px 11px #333333;
}

@mixin centerContent() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pageContainer() {
  max-width: 1200px;
  margin: auto;
}

@mixin backgoundColorAnimation() {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  @keyframes backgroundColorPalette {
    0% {
      background: rgb(170, 66, 255);
    }
    25% {
      background: rgb(0, 204, 194);
    }
    50% {
      background: #aaf683;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ff9b85;
    }
  }
}

@mixin backgoundColorText() {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  @keyframes backgroundColorPalette {
    0% {
      background: rgb(170, 66, 255);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: rgb(0, 204, 194);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@mixin boxShadowAnim($color1, $color2) {
  animation-name: boxShadowPalette;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  @keyframes boxShadowPalette {
    0% {
      box-shadow: 0px 0px 5px -0.5px $color1;
      border: 1px $color1 solid;
    }
    100% {
      box-shadow: 0px 0px 5px -0.5px $color2;
      border: 1px $color2 solid;
    }
  }
}
