@import "../styles/variables.scss";

@mixin neonBorderBox($color) {
  background: none;
  border: 2px solid $color;
  box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -webkit-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -moz-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
}

@mixin neonBoxHover($color) {
  border-color: $color;
  box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -webkit-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
  -moz-box-shadow: inset 0px 0px 4px 0.5px $color, 0px 0px 5px 0.5px $color;
}

@mixin centerContent() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pageContainer() {
  max-width: 1200px;
  margin: auto;
}

@mixin backgoundColorAnimation() {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  @keyframes backgroundColorPalette {
    0% {
      background: rgb(170, 66, 255);
    }
    25% {
      background: rgb(0, 204, 194);
    }
    50% {
      background: #aaf683;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ff9b85;
    }
  }
}

@mixin backgoundColorText() {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  @keyframes backgroundColorPalette {
    0% {
      background: rgb(170, 66, 255);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    25% {
      background: rgb(0, 204, 194);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    50% {
      background: #aaf683;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    75% {
      background: #ffd97d;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: #ff9b85;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
