$bg-dark-mode: #000;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;
$primary: rgb(170, 66, 255);

$gradient: linear-gradient(
  172deg,
  rgba(170, 66, 255, 1) 0%,
  rgba(22, 250, 240, 1) 100%
);
