@import "../variables.scss";
@import "../mixins.scss";

.pageContainer {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  h1 {
    font-size: 72px;
    text-align: center;
  }
  .subtitle {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  .btnDiv {
    display: flex;
    justify-content: center;
    button {
      font-family: inherit;
      background: rgb(19, 19, 19);
      padding: 15px 25px;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: inherit;
      margin-right: 20px;
      @include neonBorderBox($blue);
    }
    button:hover {
      @include neonBoxHover($pink);
    }
  }
}
