.pageContainer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  select {
    border: 3px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    padding: 10px 15px;
  }
}
