@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.gridHeader {
  color: white;
  font-weight: 900;
  font-size: 15px;
  background: $greyBlack;
}

.name {
  margin-right: 10px;
}

.img {
  margin-right: 10px;
}

.symbol {
  color: grey;
}

.pourcent.positive {
  color: rgb(114, 241, 114);
}

.pourcent.negative {
  color: rgb(250, 75, 75);
}
