@import "../variables.scss";
@import "../mixins.scss";

.compContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }

  .statsDiv {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    @include boxStyle();
    border-radius: 25px;

    .marketcap {
      margin-right: 10px;
      padding: 15px 25px;
      border-radius: 10px;
      border: none;

      .spanName {
        color: grey;
        font-size: 15px;
      }
    }
    .changeGreen {
      margin-right: 10px;
      padding: 15px 25px;
      color: rgb(47, 255, 82);
      border-radius: 10px;

      .spanName {
        color: grey;
        font-size: 15px;
      }
    }
    .changeRed {
      margin-right: 10px;
      padding: 15px 25px;
      color: rgb(255, 71, 47);
      border-radius: 10px;

      .spanName {
        color: grey;
        font-size: 15px;
      }
    }
    .volume24h {
      margin-right: 10px;
      padding: 15px 25px;
      border-radius: 10px;

      .spanName {
        color: grey;
        font-size: 15px;
      }
    }
    .globalCap {
      margin-right: 10px;
      padding: 15px 25px;
      border-radius: 10px;
      border: none;

      .spanName {
        color: grey;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .compContainer {
    .statsDiv {
      overflow: scroll;
      font-size: 14px;
      .marketcap {
        font-size: 14px;
        .spanName {
          font-size: 10px;
        }
      }
      .changeGreen {
        .spanName {
        }
      }
      .changeRed {
        .spanName {
        }
      }
      .volume24h {
        .spanName {
        }
      }
      .globalCap {
        .spanName {
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
}
