@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.gridHeader {
  color: $pink;
  font-weight: 400;
  font-size: 18px;
}

.name {
  margin-right: 10px;
  cursor: pointer;
}

.symbol {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

.pourcent.positive {
  color: rgb(114, 241, 114);
}

.pourcent.negative {
  color: rgb(250, 75, 75);
}

@media only screen and (max-width: 768px) {
  .name {
    display: none;
  }
}
